/*Font Families*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --wb-gray: #2E2E2E;
}

body {
  font-family:"Roboto", sans-serif;
}

.container {
  background-color:var(--wb-gray);
  width:320px;
  min-height:568px;
}

.frat-photo {
  width:100%;
}

