/*Font Families*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --wb-gray: #2E2E2E;
  
}

body {
  font-family:"Roboto", sans-serif;
  color:white;
  margin:0px;
  padding:0px;
}

.container {
  background-color:var(--wb-gray);
  width:320px;
  min-height:568px;
}

.header {
  height: 50px;
  width:100%;
  background-color: var(--wb-gray);
}


.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}

.nav-bar {
  height: 50px;
  width:100%;
  background-color: red;
}

.request-bid-button {
  width:50px;
  height:
}
