/*Font Families*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

:root {
  --wb-gray: #2E2E2E;
  --header-padding: 10px;
}

body {
  font-family:"Roboto", sans-serif;
  color:white;
  margin:0px;
  padding:0px;
}

.container {
  background-color:var(--wb-gray);
  width:320px;
  min-height:568px;
}

.header {
  height: 50px;
  width: calc(100% - (2 * var(--header-padding)));
  width:100%;
  background-color: var(--wb-gray);
  box-shadow: 0 2px 5px black;
  font-size: 15px;
  text-align:right
}

.header h1 {
  padding: var(--header-padding) 15px var(--header-padding) 0px;
  font-family: "Hubballi", "Roboto", sans-serif;
}


.nav {
    border:1px solid red;
    list-style:none;
    margin:0;
    padding:0;
    height: 50px;
    width: 320px;
    position: absolute;
    top: 518px;
    left: 0px;
    text-align:center;
}
.nav li{
    display:inline;
}

.nav a{
    display:inline-block;
    padding:10px;
    color:white;
    text-decoration:none;
    font-size:30px;
}

.profile-icon {
  width:40px;
  height:40px;
  border-radius:50%;
  background-color:white;
}


.request-bid-button {
  width:50px;
  height:
}

.feed-card {
  
}


.logo {
  position:absolute;
  top:-0;
  left:0;
}